# Excluir los paquetes zip compilados que generes localmente
*.zip
*.tar.gz

# Excluir la firma MD5 automática del repositorio
addons.xml.md5

# Excluir caché generada al probar tus addons antiguos en Python 3
__pycache__/
*.pyc
*.pyo

# Excluir volcados de bases de datos locales si testeas con Kodi 21
*.db
*.log

# Entornos virtuales y editores
.vscode/
.idea/
venv/
